<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>afghanistan.png</string>
	<string>albania.png</string>
	<string>algeria.png</string>
	<string>american_samoa.png</string>
	<string>andorra.png</string>
	<string>angola.png</string>
	<string>anguilla.png</string>
	<string>antigua_and_barbuda.png</string>
	<string>argentina.png</string>
	<string>armenia.png</string>
	<string>aruba.png</string>
	<string>australia.png</string>
	<string>austria.png</string>
	<string>azerbaijan.png</string>
	<string>bahamas_the.png</string>
	<string>bahrain.png</string>
	<string>bangladesh.png</string>
	<string>barbados.png</string>
	<string>belarus.png</string>
	<string>belgium.png</string>
	<string>belize.png</string>
	<string>benin.png</string>
	<string>bermuda.png</string>
	<string>bhutan.png</string>
	<string>bolivia.png</string>
	<string>bosnia_and_herzegovina.png</string>
	<string>botswana.png</string>
	<string>brazil.png</string>
	<string>brunei.png</string>
	<string>bulgaria.png</string>
	<string>burkina_faso.png</string>
	<string>burundi.png</string>
	<string>cambodja.png</string>
	<string>cameroon.png</string>
	<string>canada.png</string>
	<string>cape_verde.png</string>
	<string>central_african_republic.png</string>
	<string>chad.png</string>
	<string>chile.png</string>
	<string>china.png</string>
	<string>colombia.png</string>
	<string>comoros.png</string>
	<string>congo_republic_of_the.png</string>
	<string>costa_rica.png</string>
	<string>cote_divoire.png</string>
	<string>croatia.png</string>
	<string>cuba.png</string>
	<string>cyprus.png</string>
	<string>czech_republic.png</string>
	<string>denmark.png</string>
	<string>djibouti.png</string>
	<string>dominica.png</string>
	<string>dominican_republic.png</string>
	<string>east_timor.png</string>
	<string>ecuador.png</string>
	<string>egypt.png</string>
	<string>el_salvador.png</string>
	<string>england.png</string>
	<string>equatorial_guinea.png</string>
	<string>eritrea.png</string>
	<string>estonia.png</string>
	<string>ethiopia.png</string>
	<string>faroes.png</string>
	<string>fiji.png</string>
	<string>finland.png</string>
	<string>france.png</string>
	<string>french_polynesia.png</string>
	<string>gabon.png</string>
	<string>gambia_the.png</string>
	<string>georgia.png</string>
	<string>germany.png</string>
	<string>ghana.png</string>
	<string>gibraltar.png</string>
	<string>greece.png</string>
	<string>greenland.png</string>
	<string>grenada.png</string>
	<string>guadeloupe.png</string>
	<string>guam.png</string>
	<string>guatemala.png</string>
	<string>guernsey.png</string>
	<string>guinea_bissau.png</string>
	<string>guinea.png</string>
	<string>guyana.png</string>
	<string>haiti.png</string>
	<string>honduras.png</string>
	<string>hong_kong.png</string>
	<string>hungary.png</string>
	<string>iceland.png</string>
	<string>india.png</string>
	<string>indonezia.png</string>
	<string>iran.png</string>
	<string>iraq.png</string>
	<string>ireland.png</string>
	<string>israel.png</string>
	<string>italy.png</string>
	<string>jamaica.png</string>
	<string>japan.png</string>
	<string>jersey.png</string>
	<string>jordan.png</string>
	<string>kazakhstan.png</string>
	<string>kenya.png</string>
	<string>kiribati.png</string>
	<string>korea_north.png</string>
	<string>korea_south.png</string>
	<string>kosovo.png</string>
	<string>kuwait.png</string>
	<string>kyrgyzstan.png</string>
	<string>lacao.png</string>
	<string>laos.png</string>
	<string>latvia.png</string>
	<string>lebanon.png</string>
	<string>lesotho.png</string>
	<string>liberia.png</string>
	<string>libya.png</string>
	<string>liechtenshein.png</string>
	<string>lithuania.png</string>
	<string>luxembourg.png</string>
	<string>macedonia.png</string>
	<string>madagascar.png</string>
	<string>malaysia.png</string>
	<string>maldives.png</string>
	<string>mali.png</string>
	<string>malta.png</string>
	<string>marshall_islands.png</string>
	<string>martinique.png</string>
	<string>mauritania.png</string>
	<string>mauritius.png</string>
	<string>mexico.png</string>
	<string>micronesia_federated_states_of.png</string>
	<string>moldova.png</string>
	<string>monaco.png</string>
	<string>mongolia.png</string>
	<string>montenegro.png</string>
	<string>montserrat.png</string>
	<string>morocco.png</string>
	<string>mozambique.png</string>
	<string>namibia.png</string>
	<string>nauru.png</string>
	<string>nepal.png</string>
	<string>netherlands.png</string>
	<string>new_caledonia.png</string>
	<string>new_zealand.png</string>
	<string>nicaragua.png</string>
	<string>niger.png</string>
	<string>nigeria.png</string>
	<string>norway.png</string>
	<string>oman.png</string>
	<string>pakistan.png</string>
	<string>palau.png</string>
	<string>panama.png</string>
	<string>papua_new_guinea.png</string>
	<string>paraguay.png</string>
	<string>peru.png</string>
	<string>philippines.png</string>
	<string>poland.png</string>
	<string>portugal.png</string>
	<string>puerto_rico.png</string>
	<string>qatar.png</string>
	<string>romania.png</string>
	<string>russia.png</string>
	<string>rwanda.png</string>
	<string>samoa.png</string>
	<string>sao_tome_and_principe.png</string>
	<string>saudi_arabia.png</string>
	<string>scotland.png</string>
	<string>senegal.png</string>
	<string>seychelles.png</string>
	<string>sierra_leone.png</string>
	<string>singapore.png</string>
	<string>slovakia.png</string>
	<string>slovenia.png</string>
	<string>solomon_islands.png</string>
	<string>somalia.png</string>
	<string>somaliland.png</string>
	<string>south_africa.png</string>
	<string>spain.png</string>
	<string>sudan.png</string>
	<string>suriname.png</string>
	<string>swaziland.png</string>
	<string>sweden.png</string>
	<string>switzerland.png</string>
	<string>syria.png</string>
	<string>taiwan.png</string>
	<string>tajikistan.png</string>
	<string>tanzania.png</string>
	<string>thailand.png</string>
	<string>togo.png</string>
	<string>tonga.png</string>
	<string>trinidad_and_tobago.png</string>
	<string>tunisia.png</string>
	<string>turkey.png</string>
	<string>turkmenistan.png</string>
	<string>tuvalu.png</string>
	<string>uganda.png</string>
	<string>ukraine.png</string>
	<string>united_arab_emirates.png</string>
	<string>united_kingdom.png</string>
	<string>united_states.png</string>
	<string>uruguay.png</string>
	<string>uzbekistan.png</string>
	<string>vanutau.png</string>
	<string>venezuela.png</string>
	<string>vietnam.png</string>
	<string>wales.png</string>
	<string>yemen.png</string>
	<string>zambia.png</string>
	<string>zimbabwe.png</string>
</array>
</plist>
